<!doctype html>
<html lang="en">
<%- include('./partials/header.ejs') %>


    <body>


        <main>
            <div class="container">
                <%- include('./partials/nav.ejs') %>

            </div>

            <section class="py-5 container">
                <div class="row py-lg-5">
                    <div class="col-12">
                        <h1 class="fw-light">About us</h1>
                        <p class="lead text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi ad dolor odit sed placeat! Eos repellat doloremque officia? Quae ex provident accusamus hic vitae iure culpa? Quae ab facere obcaecati. Facere nobis autem dolore, voluptate perspiciatis rem aliquid nihil. Fuga quo architecto labore perspiciatis alias similique facilis dicta molestias sapiente facere culpa eius dolor delectus nemo, velit beatae a quis aut, qui, eos distinctio totam magni ab at. Voluptatem similique ullam recusandae, sunt ex aspernatur alias ducimus, rem unde molestias perferendis incidunt dolore earum. Incidunt eaque adipisci dolor, magni ad animi expedita maiores quia distinctio inventore labore rerum, placeat pariatur quasi. <br> <br>Dolores porro repudiandae alias quod magni odit aperiam nostrum ad, eveniet facere maiores fugiat recusandae nihil, in qui sint vero modi quibusdam est nesciunt quo temporibus veritatis quasi animi! Suscipit dolores modi eaque, praesentium, amet totam nostrum recusandae deleniti eos voluptate quaerat consequatur eum, assumenda laboriosam debitis. Rerum, fugit earum, porro esse nemo quos maxime tenetur suscipit eveniet soluta vero
                            quas, impedit dicta facilis consectetur tempore veniam ex sequi officia quibusdam id perspiciatis aperiam quisquam quis. Ducimus corporis rem itaque mollitia et doloremque. Expedita mollitia perspiciatis accusamus vel qui nesciunt libero laboriosam. Nisi, voluptatibus autem temporibus enim quos aspernatur?</p>
                        <p>

                        </p>
                    </div>
                </div>
            </section>

        </main>

<%- include('./partials/footer.ejs') %>

    </body>

</html>